[submodule "YRpp"]
	path = YRpp
	url = https://github.com/Phobos-developers/YRpp.git
[submodule "harfbuzz"]
	path = harfbuzz
	url = https://github.com/G-LimeJuice/harfbuzz
[submodule "fribidi"]
	path = fribidi
	url = https://github.com/G-LimeJuice/fribidi
[submodule "freetype"]
	path = freetype
	url = https://github.com/G-LimeJuice/freetype
