Release
Debug
*.vcxproj.user
*.vcxproj.filters
*.sdf
*.suo
.vs
.cproject
.project
*.aps

Nightly/

DevBuild/

docs/_build/
docs/locale/.doctrees/
*.pot
*.mo

/.vscode/c_cpp_properties.json
/.vscode/cspell.json
/.vscode/settings.json

build
cmake-*
out
.idea
