Release
Debug
*.vcxproj.user
*.vcxproj.filters
*.sdf
*.suo
.vs
.cproject
.project
*.aps

Nightly/

DevBuild/

docs/_build/
docs/locale/.doctrees/
*.pot
*.mo

/.vscode

build
cmake-*
out
.idea

# Python virtual environment for docs
.venv/
